{% extends 'registration/base.html' %}

{% block title %} Change Password{% endblock %}

{% block content %}

    <h1>Change Password</h1>
    <div id="instructions">
    <ul>
        <li>Passwords: </li>
        <br>
        <li>Must contain at least 8 characters</li>
        <li>Can't be too similar to your other details.</li>
        <li>Can't be too simple or commonly used.</li>
        <li>Can't be entirely numeric.</li>
    </ul>
    </div>

    <form method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <button type="submit">Change</button>

    </form>

{% endblock %}