            * {
                box-sizing: border-box;
                padding: 0;
                margin: 0;
            }

            body {
                background-color: rgb(30 31 32);
                height: 100%;
                margin: 0;
                font-family: "Roboto", sans-serif;
            }
            main {
                background-color: rgb(15 15 15);
                margin: 0px;
                width: 100vw;
                height: 100vh;
                overflow: hidden;

            }

            #content {
                color: white;
                margin: 50px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 30px;
                margin-left: 30px;
            }

            #content h1 {
                font-weight: 350;
                margin-top: 10px;
            }

            form, ul {
                list-style: none;
            }

            form li {
                margin-bottom: 15px;
            }

            form button {
                margin: 0;
                margin-top: 8px;
                border-radius: 30px;
                padding: 10px;
                margin-left: 270px;
                color: rgb(15 15 15);
                background-color: rgb(168 199 250);
                font-weight: 500;
                border: hidden;
            }

            form input {
                border-radius: 3px;
                height: 36px;
                width: 90%;
                background-color: rgb(15 15 15);
                border-width: 1px;
                margin-right: 0px;
                color: rgb(232, 234, 237);
                padding-left: 10px;
            }

            form li label {
                display: none;
            }

            form input::placeholder {
                color: rgb(196 199 197);
                opacity: 50%;
            }

            form input:focus {
                outline: none;
                border:  rgb(168 199 250) solid 2.5px;
            }

            form {
                margin-top: 50px;
            }

            .helptext {
                display: none;
            }

            #logo {
                position: relative;
                top: 30px;
                left: 30px;
            }

            footer {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                position: absolute;
                    bottom: 10px;
                    width: 100%;
            }

            footer button {
                border: none;
                background-color: rgb(15 15 15);
                color: rgb(232, 234, 237);
                border-radius: 8px;
                padding: 5px;

            }

            footer button:hover {
                background-color: rgb(63 63 63);
            }

            footer #menu button {
                margin-left: 20px;
                padding: 12px;
            }

            #instructions {
                position: absolute;
                top: 520px;
                width: 300px;
                color: rgb(196 199 197);
            }

            #instructions2 {
                position: absolute;
                top: 190px;
                width: 300px;
                color: rgb(196 199 197);
            }

            #returnlink:link, #returnlink:visited {
                text-decoration: none;
                color: rgb(168 199 250);
            }

            #returnlink:focus, #returnlink:hover, #returnlink:active  {
                text-decoration: underline;
            }


            @media screen and (min-width: 840px) {
                main {
                    margin: 0px;
                    width: 100vw;
                    height: 100vh;
                }

                footer {
                    position: absolute;
                    bottom: 50px;
                    width: 100%;
                    background-color: rgb(15 15 15);
                }
            }

            @media screen and (min-width: 960px) {
                main {
                    margin-top: 263px;
                    width: 840px;
                    height: 400px;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 25px;
                }

                footer {
                    position: unset;
                    width: 840px;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: rgb(30 31 32);
                }

                footer button {
                    background-color: rgb(30 31 32);
                }

                form {
                    margin-top: 0px;
                }

                #instructions, #instructions2 {
                position: absolute;
                top: 420px;
                width: 300px;
            }
                #forgot {
                    position: absolute;

                }
            }

            @media screen and (min-width: 1240px) {
                main, footer {
                    width: auto;
                    margin-left: 200px;
                    margin-right: 200px;
                }
            }

            @media screen and (min-width: 1600px) {
                main, footer {
                    width: 1040px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }