
#main2 {
    padding: 15px;
    padding-left: 30px;
    width: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* From here: displays when user has no channel */

#message {

                display: flex;
                width: 400px;
                height: 400px;
                flex-direction: column;
                align-items: center;
                margin: 0 auto;
                color: rgb(241 241 241);
            }

            #design-image {
                max-width: 120px;
                max-height: 120px;
                margin-bottom: 15px;
            }

            #large-prompt {
                font-size: 25px;
                margin-bottom: 10px;
            }

            #message a {
                border-radius: 20px;
                padding: 10px;
                outline: rgb(241 241 241) 1px solid;
                background-color: rgb(40 40 40);
                margin-top: 20px;
                color: rgb(241 241 241);
                text-decoration: none;
            }

            #message a:hover {
                background-color: rgb(63 63 63);
            }
            /*from here: normal channel list*/

            #channel-list h2 {
                color: rgb(241 241 241);
                margin-bottom: 30px;
            }

            .channel {
                display: flex;
                align-items: center;
                width: 1000px;
                flex: 1;
                border-radius: 20px;
                padding: 20px;
                color: rgb(170 170 170);
                outline: rgb(63 63 63) 1px solid;
            }

            .channel h3 {
                margin-bottom: 20px;
            }

            .channel h3 a {
                color: rgb(241 241 241);
                text-decoration: none;
            }

            .channel-icon {
                width: 160px;
                height: 160px;
                border-radius: 100px;
                margin-right: 80px;
            }

            .stats p {
                margin-bottom: 6px;
            }

            #channel-list hr {
                margin-top: 20px;
                margin-bottom: 20px;
                width: 1000px;
            }

            .info {
                min-width: 400px;
            }

            .options {
                margin-left: 100px;
            }

            .options-button {
                padding: 5px 40px;
                border-radius: 15px;
                font-size: 16px;
                background-color: #292929;
                border: 1px solid rgb(105, 104, 104);
                margin-bottom: 15px;
                width: 200px;
            }

            .options-button:hover {
                background-color: rgb(63 63 63);
            }

            .options-button {
                color: rgb(241 241 241);
                text-decoration: none;
            }