main h2 {
                color: rgb(241 241 241);
                margin-bottom: 30px;
            }

            main li {
                list-style: none;
                display: flex;
                flex-direction: column;
                color: rgb(196 199 197);
                margin-bottom: 40px;
            }

            form {
                width: 1100px;
            }

            main form li label {
                color:  white;
                margin-bottom: 15px;
            }

            main form li label + input {
                margin-bottom: 20px;
            }

            main form li label[for="id_description"] {
                margin-bottom: 20px;
            }

            main form li label[for="id_banner"] + input {
                margin-left: 50px;
            }

            main form li label[for="id_icon"] + a {
                margin-left: 80px;
                margin-bottom: 10px;
                text-decoration: none;
                color: rgb(196 199 197);
            }

            main form li label[for="id_icon"] + a + br + input {
                margin-left: 50px;
                padding: 5px 10px;
                border-radius: 10px;
            }

            #form-menu {
                display: flex;
                align-items: end;
                max-width: 1000px;
            }

            #form-menu button, #return {
                width: 80px;
                height: 35px;
                padding: 5px 10px;
                border-radius: 20px;
                border: none;
            }

            #form-menu button[type="submit"] {
                margin-left: auto;
            }

            #return {
                background-color: rgb(40 40 40);
                fill: rgb(241 241 241);
                outline: 1px solid rgb(63 63 63);
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #return:hover {
                background-color: rgb(63 63 63);
            }

            #form-deco {
                float: left;
                margin-right: 30px;
            }

            #icon-box {
                display: flex;
                justify-content: center;
                padding-top: 15px;
                width: 290px;
                height: 160px;
                background-color: rgb(31 31 31);
                margin-top: 20px;
            }

            #icon-box img {
                border-radius: 100px;
                height: 135px;
            }

            input[type="text"] {
                height: 42px;
                max-width: 900px;
                border-radius: 7px;
                padding-left: 15px;
                color: rgb(241 241 241);
                font-size:medium;
                background-color: rgb(40 40 40);
            }

            label[for="icon-clear_id"], label[for="banner-clear_id"] {
                display: none;
            }
            input[id="icon-clear_id"], input[id="banner-clear_id"] {
                display: none;
            }



            form li textarea {
                max-width: 900px;
                border-radius: 7px;
                padding: 15px;
                color: rgb(241 241 241);
                font-size: medium;
                background-color: rgb(40 40 40);
                height: 150px;
            }

            input + li {
                margin-top: 25px;
            }

            #help-texts div p {
                max-width: 850px;
                color: rgb(196 199 197);
            }

            #help-texts {
                display: none;
            }

            #banner-help {
                position: relative;
                bottom: 1280px;
                left: 380px;
            }

            #icon-help {
                position: relative;
                bottom: 1175px;
                left: 370px;
                max-width: 675px;
            }

            #name-help {
                position: relative;
                bottom: 990px;
            }

            #handle-help {
                position: relative;
                bottom: 855px;
            }

            #links-help {
                position: relative;
                bottom: 480px;
            }

            #contact-help {
                position: relative;
                bottom: 330px;
            }