
#video-list h2 {
    color: rgb(241 241 241);
}


#page-menu {
    display: flex;
    width: 200px;
}

#return {
    background-color: rgb(40 40 40);
    fill: rgb(241 241 241);
    outline: 1px solid rgb(63 63 63);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 35px;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
}

#return:hover {
    background-color: rgb(63 63 63);
}


.video-box {
    display: flex;
    border-radius: 20px;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 15px;
    max-width: 1200px;
}

.video-box img {
    width: 200px;
    height: 120px;
    border-radius: 10px;
}

.video-info {
    padding: 10px;
    max-width: 800px;
    height: 100px;
    overflow: hidden;
}

.middle-info {
    display: flex;
}

.video-title {
    color: rgb(241 241 241);
    font-size: 17px;
}

.middle-info {
    color: rgb(170 170 170);
}

.options {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.options-link {
    outline: 1px solid rgb(170 170 170);
    color: rgb(241 241 241);
    padding: 5px 30px;
    border-radius: 15px;
    font-size: 16px;
    background-color: #292929;
    margin-bottom: 15px;
    width: 135px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.options-link:hover {
    background-color: rgb(112, 112, 112);
}

@media screen and (width: 830px) {
    .video-box img {
        width: 252px;
        height: 142px;
    }
}

