{% extends 'base-channel-edit.html' %}

{% load static %}

{% block title %}Edit Video{% endblock %}

{% block content %}
    <div id="page-menu">
    <a href="{% url 'update-list' %}" id="return">
        <svg rpl="" fill="rgb(241 241 241)" height="16" icon-name="back-outline" viewBox="0 0 20 20" width="16" xmlns="http://www.w3.org/2000/svg"> <!--?lit$6859319095$--><!--?lit$6859319095$--><path d="M18 9.25H3.81l6.22-6.22a.771.771 0 0 0-.015-1.046.772.772 0 0 0-1.045-.014l-7.5 7.5a.75.75 0 0 0 0 1.06l7.5 7.5c.283.27.77.263 1.046-.013a.772.772 0 0 0 .014-1.047l-6.22-6.22H18c.398 0 .75-.352.75-.75a.772.772 0 0 0-.75-.75Z"></path><!--?--> </svg>
    </a>
    </div>

    <div id="video-list">

    {% if videos %}
        <h2>Videos</h2><br>
        {% for vid in videos %}
             <div class="video-box">
                <img src="{{ vid.thumbnail.url }}" alt="thumbnail icon">
                <div class="video-info">
                    <div class="video-title">{{ vid.video_title }}</div>
                    <div class="middle-info">
                        <p class="video-views">{{ vid.views }}K views</p>
                        <p>&nbsp;•&nbsp;</p>
                        <p class="video-date"> Streamed on {{ vid.upload_date.year }}/{{ vid.upload_date.month }}/{{ vid.upload_date.day }}</p>
                    </div>
                </div>
                <div class="options">
                    <a class="options-link" href="{% url 'video-update' vid.channel.handle vid.pk  %}">
                        Edit Video
                    </a>
                    <a class="options-link" href="{% url 'video-delete' vid.channel.handle vid.pk %}">
                        Delete
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if shorts %}
        <h2>Shorts</h2><br>
        {% for vid in shorts %}
             <div class="video-box">
                <img src="{{ vid.thumbnail.url }}" alt="thumbnail icon">
                <div class="video-info">
                    <div class="video-title">{{ vid.video_title }}</div>
                    <div class="middle-info">
                        <p class="video-views">{{ vid.views }}K views</p>
                        <p>&nbsp;•&nbsp;</p>
                        <p class="video-date"> Streamed on {{ vid.upload_date.year }}/{{ vid.upload_date.month }}/{{ vid.upload_date.day }}</p>
                    </div>
                </div>
                <div class="options">
                    <a class="options-link" href="{% url 'video-update' vid.channel.handle vid.pk  %}">
                        Edit Video
                    </a>
                    <a class="options-link" href="{% url 'video-delete' vid.channel.handle vid.pk %}">
                        Delete
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if live %}
        <h2>Livestreams</h2><br>
        {% for vid in live %}
            <div class="video-box">
                <img src="{{ vid.thumbnail.url }}" alt="thumbnail icon">
                <div class="video-info">
                    <div class="video-title">{{ vid.video_title }}</div>
                    <div class="middle-info">
                        <p class="video-views">{{ vid.views }}K views</p>
                        <p>&nbsp;•&nbsp;</p>
                        <p class="video-date"> Streamed on {{ vid.upload_date.year }}/{{ vid.upload_date.month }}/{{ vid.upload_date.day }}</p>
                    </div>
                </div>
                <div class="options">
                    <a class="options-link" href="{% url 'video-update' vid.channel.handle vid.pk  %}">
                        Edit Video
                    </a>
                    <a class="options-link" href="{% url 'video-delete' vid.channel.handle vid.pk %}">
                        Delete
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>

{% endblock %}