
{% extends "base.html" %}

{% block title %}YouTube{% endblock %}

{% block content %}
    <div class="letters">
<h2>Home</h2>
{% if user.is_authenticated %}
<p>Welcome back, {{ user.username }}</p>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
    <br><hr>

{% for instance in channel_list %}
    <br>
    <a style="color: rgb(241 241 241);" href="{% url 'channel-detail' instance.handle %}">{{ instance.handle }}</a>
    <p style="color: rgb(170 170 170);">{{ instance.subscribers }} subscribers</p>
            <br><hr>
    {% endfor %}

</div>
{% endblock %}

